@import '@fontsource/montserrat/300.css';
@import '@fontsource/montserrat/400.css';
@import '@fontsource/montserrat/500.css';
@import '@fontsource/montserrat/600.css';
@import '@fontsource/montserrat/700.css';
@import '@fontsource/raleway/700.css';

@import 'tailwindcss';

:root {
  --foreground-rgb: 255, 255, 255;
  --background: #232829;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  min-height: 1621px;
}

.raleway-text p {
  /* font-family: 'Raleway', sans-serif; */
  font-weight: 700;
  color: #ffbb00;
}

.poppins-sale span {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 130%;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 321px;
  --breakpoint-md: 376px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
}
